@model PetFoodBrandManagement.Model.Entities.Category

@{
    ViewData["Title"] = "Kategori Güncelle";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="dashboard-title">
    <h1>Kategori Güncelle</h1>
    <p>Seçilen mama kategorisini güncelleyebilirsiniz.</p>
</div>

<div class="content-card">

    <form action="/Admin/Category/Update" method="post" enctype="multipart/form-data">

        <input type="hidden" name="CategoryId" value="@Model.CategoryId" />
        <input type="hidden" name="ImageUrl" value="@Model.ImageUrl" />

        <div class="form-group">
            <label>Kategori Adı</label>
            <input name="CategoryName" value="@Model.CategoryName" class="form-control-custom" />
        </div>

        <div class="form-group">
            <label>Açıklama</label>
            <textarea name="Description" class="form-control-custom" rows="4">@Model.Description</textarea>
        </div>

        <div class="form-group">
            <label>Mevcut Resim</label><br />
            @if (!string.IsNullOrEmpty(Model.ImageUrl))
            {
                <img src="@Model.ImageUrl" class="table-img" />
            }
            else
            {
                <span>Resim yok</span>
            }
        </div>

        <div class="form-group">
            <label>Yeni Resim Seç</label>
            <input type="file" name="imageFile" class="form-control-custom" />
        </div>

        <button type="submit" class="btn-purple">
            <i class="bi bi-arrow-repeat"></i> Güncelle
        </button>

        <a href="/Admin/Category/Index" class="btn-cancel">Vazgeç</a>

    </form>

</div>